*{
    box-sizing: border-box;
    margin: 0;
    font-size:1.3vw;
    max-width:100%;
}
body h1, body h2{
    font-family: 'IM Fell English SC', serif;
}
body p,
h3,h4{
    font-family: 'Carrois Gothic SC', sans-serif;
}
input,
li
{
    font-family: 'DotGothic16', sans-serif;
}
button,
a,td,
figcaption p,
form *{
    font-family: 'IM Fell English SC', serif;
}

/* font-family: 'Carrois Gothic SC', sans-serif;
font-family: 'DotGothic16', sans-serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Tilt Prism', cursive; */

body{
    background-color: #ecd44a;
    overflow-x: hidden;
}
:root{
    scroll-behavior: smooth;
    transition: all 3s 2s 3s;
}
/* 
p{
    font-family: 'DotGothic16','Times New Roman', Times, sans-serif;
} */

button{
    background-color:#32cd32;
    /* position:relative; */
    /* width:8rem;
    padding:0.7rem; */
}
button:hover{
    background-color:purple;
    animation: botton 6s infinite;
}

@keyframes botton {
    0% {
      background-color: green;
    }
    25% {
      background-color: lime;
    }
    50% {
      background-color: limegreen;
    }
    75% {
      background-color: forestgreen;
    }
    100% {
      background-color: darkgreen;
    }

  }