*{
    box-sizing: content-box;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.3vw;
}

body{
    background-color: rgb(236, 212, 74);
}
:root{
    scroll-behavior: smooth;
}