nav a{
    text-decoration: none;
    color: darkblue;
}
nav a:hover{
    text-decoration: none;
    color: cyan;
}

header{
    background-color: #ffe656b3;
    padding: 1.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#bar_nav{
    display: flex;
    /* background-color: #000; */
    flex-wrap: wrap;
    width:35%;
}
#bar_nav img{
    /* background-color: #373; */
    width:2.2rem;
}
#bar_nav h2{
    font-size:2.1vw;
    /* background-color: #1af; */
}
/****************************************************************************/

#link_relatives nav{
    margin: 0 auto;
}

#link_relatives nav ul{
    margin: 0 auto;
    display:flex;
    row-gap:12px;
    flex-wrap:wrap;
    width:1100px;
    justify-content:space-around;
}

#link_relatives nav ul li{
    width:250px;
}

#link_relatives nav ul li#desert{
    list-style-image: url(../imagenes/rounded-in-photoretrica_desert.png);
}
#link_relatives nav ul li#mountain{
    list-style-image: url(../imagenes/rounded-in-photoretrica_mountain.png);
}
#link_relatives nav ul li#forest{
    list-style-image: url(../imagenes/rounded-in-photoretrica_forest.png);
}
#link_relatives nav ul li#night{
    list-style-image: url(../imagenes/rounded-in-photoretrica_night.png);
}

#link_relatives a{
    font-size:1.2rem;
    color: white;
    font-weight: 500;
}

#link_relatives a:hover{
    font-weight: 900;
    text-decoration:underline;
}
/****************************************************************************/
header #user p{
    display:inline;
    color: #050505;
}
header #user p:hover{
    color: #171717;
}
header #log_in{
    border-right:#050505 solid 2px;
    padding-right:0.2rem;
}

#user i{
    background-color: darkred;
    border-radius: 50%;
    padding: 0.4rem;
    color: #050505
}

#user a{
    text-decoration: none;
    color: none;
}

#user #log_in_sign_in{
    display:inline;
    background-color: #555;
    padding: 0.4rem 0.2rem;
}

#link_relatives nav{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#link_relatives a{
    color: white;
    font-weight: 500;
}

#link_relatives a:hover{
    color: white;
    font-weight: 900;
    text-decoration:underline;
}

form{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:stretch;
}

form fieldset{
    display:flex;
    flex-wrap:wrap;
    width:40%;
    flex-direction:column;
    align-content:center;
    align-items:flex-start;
    gap: 15px 20px;
    background-color: #dbc339;
}

form fieldset article{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin:0;
    padding:0;
    background-color:#00a00f;
}

form fieldset article label{
    flex-basis: 10%;
}
form fieldset article label[for="message"]{flex-basis:6%;}
form fieldset article input{
    flex-basis: 40%;
}
form fieldset article p{
    flex-basis: 70%;
}

button[type="submit"]{
    background-color:#32cd32;
    padding:0.3rem;
    font-size:smaller;
    width:6rem;
}

body section.container{
    margin-bottom:300px;
}

footer{
    background-color:rgb(255, 230, 86);
    padding: 2rem 1rem;
}

footer #social_media img, 
footer #social_media nav{
    padding: 0 auto;
}

#footer_content{
    min-height: 10rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
footer #social_media img{
    width:20%
}
footer section nav ul{
    display: inline;
    padding:0;
}

#social_media{
    max-width:600px;
    text-align: center;
    /* background-color:brown */
}
#footer_notes{
    max-width:600px;
    /* background-color:indigo */
    border-top: solid #ecd44a 2px;
    padding-top: 2rem;
}
#copyright_reference{
    padding-top: 2rem;
    margin-top:1rem;
    border-top: 2px solid #ecd44a;
    text-align:center;
}

@media only screen and (min-width: 1143px){
#footer_content{
    justify-content: space-around;
}

#footer_notes{
    border-top: none;
    padding-top: 0;
    border-left: solid #ecd44a 2px;
    padding-left: 2rem;
}
}

@media screen and (max-width: 640px){

    #link_relatives nav ul{
        flex-direction:column;
        row-gap:8px;
    }

    #link_relatives nav ul a{font-size:2.1rem;}

    header #bar_nav img{
        width:24px;
        height:22px;
    }

    #bar_nav h2{font-size:2.8rem;}

    #user i{padding:0.5rem}

    #user #log_in_sign_in{padding: 1.2rem 0.3rem; vertical-align:super;}
    
    #log_in_sign_in p{vertical-align:middle;}

    #user-ico, i.fa-solid.fa-user{
        vertical-align:top;
    }

    body p, body h3, legend, label{font-size:13px}

    body h2{font-size:2.2rem;}


    form{
        justify-content:center;

    }

    form fieldset{
        width:80%;
        gap: 10px 15px;
    }

    section.container{
        margin-bottom:125px;
    }
    
    form fieldset label, form fieldset input,
    form fieldset input *{
        font-size:13px;
    }

    form fieldset span{
        font-size:2.4rem;
    }

    body fieldset article button[type="submit"]{font-size:2.1rem; width:44px}

    a:not(li a), i{font-size:2.3rem;}

    footer ul a, footer i{
        font-size:1.7rem;
    }

    footer p, footer h4{
        font-size:1.6rem;
    }
    
    footer #copyright_reference p{
        font-size:10px;
    }
}

@media screen and (min-width:640px) and (max-width:1100px){

    #bar_nav a{font-size:1.4rem;}

    #bar_nav h2{font-size:2rem;}

    header #bar_nav img{
        width:14%;
    }

    #user #log_in_sign_in{padding: 0.8rem 0.3rem; vertical-align:middle;}

    #log_in_sign_in a{font-size:1.5rem;}

    #log_in_sign_in p{vertical-align:middle;font-size:1.5rem;}

    #user-ico, i.fa-solid.fa-user{
        vertical-align:middle;
        font-size:1.7rem;
    }

    #link_relatives nav ul a{
        font-size:1.6rem;
    }

    body p,
    body, h2, h3{
       font-size: 1.7rem;
    }

    section.container{
        margin-bottom:125px;
    }
    
    form fieldset label, form fieldset input,
    form fieldset input *{
        font-size:1.7rem;
    }

    article label, a{
        font-size:1.5rem
    }

    body fieldset article button[type="submit"]{font-size:1.6rem;}

    form fieldset span{
        font-size:2.4rem;
    }

    footer p,
    footer h4{
    font-size: 1.5rem;
    }

    footer ul a, footer i{
        font-size:1.3rem;
    }
    
    footer #copyright_reference p{
        font-size:1rem;
    }
}

@media screen and (min-width:1100px){
    body p, body h2, h3, h4 {
        font-size: 1rem;
    }
}