/* *{
    box-sizing: content-box;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(236, 212, 74);
}
:root{
    scroll-behavior: smooth;
} */

nav a{
    text-decoration: none;
    color: darkblue;
}
nav a:hover{
    text-decoration: none;
    color: cyan;
}

header{
    background-color: rgba(255, 230, 86, 0.7);
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

#bar_nav h2{
    font-size:2.1vw;
}

#link_relatives{
    text-align: center;
}

#link_relatives a{
    border: 1px red dashed;
    padding: 3% 5%;
    border-radius: 50%;
}

#link_relatives a:hover{
    background-color: gold;
}


main section:not(#centro, #seccion_diccionario, .foto){
    padding:1rem;
}
h1{
    font-size: 4vw;
    text-align:center;
    font-family:'Courier New', Courier, monospace
}

.P_science_introduction::first-letter{
    font-size:3.3vw;
    float: left;
    padding: 0 0.3rem;
    margin: 0.1em 0.2em 0;
    display:block;
    background-size: contain;
    background-color: #129c12;
    border: 2px burlywood solid;
}

.foto{
    padding:0;
    /* background-color: #212; */
    width:100%;
}
.foto img{
    width:100%;
}
.oculto{
    display:none;
    margin:0;
    padding:0;
}
article section{
    margin:0;
    padding:0;
}
.oculto a{
    color:#ffff00
}
#base{
    border: dashed 3px black;
    /* display:flex;
    flex-wrap: wrap; */
    /* background-color:brown; */ /* invert when it's asked */
}
#contenido1,
#contenido2,
#contenido3{
    position:static;

    /* background-color:slategray; */ /* invert when it's asked */
    padding:0;
    margin:0;
}

/* botones */
.boton{
    position:relative;
    /* background-color:forestgreen; */ /* invert when it's asked */
}
.boton button{
    display:block;

    margin: 0.5rem 0rem;
    padding: 0.7rem;
    width:8rem;
    background-color: limegreen;
}
.boton button:hover{
    background-color: purple;
}

.small-botton button{
    display:block;
    font-size: small;
    margin: 0.5rem 0rem 0;
    padding: 0.5rem;
    width:6rem;
    background-color: limegreen;
}
.small-botton button:hover{
    background-color: purple;
}

#base .boton .oculto{
    padding:0rem 0 0.4rem 2.3rem;
}

.descripcion{
    border: 3px black solid;
    border-radius: 3rem;
    padding:1rem;
    width:40%;
    max-height:20rem;
    left:20%;
    top:0;
    position:absolute;
    overflow:auto;
}
.descripcion h4{
    text-align: center;
}
.icono_lista{
    position:absolute;
    right:0;
    top:0;
}
.icono_lista ol{
    border: 1px black solid;
    height:4rem;
    overflow:auto;
}
/* #seccion_diccionario{
    padding:0;
} */
#fondo_dic{
    background-color: #212;
    padding: 5rem 0rem;
    text-align:center;
    background-image: url(../imagenes/0121a2a69c4ae484cb98c664e45cf999.jpeg);
    background-size:contain;
}
#fondo_dic input{
    padding: 0.8rem;
    margin: 2.6rem;
    width:50%;
    max-width: 38rem;
}
/* #fondo_dic label{
    color: #fff;
    font-weight: bold;
} */

/* #section_tables ul{

} */

.lista_tabla{
    cursor: pointer;
    text-decoration: underline;
}

#section_tables table tr td:not(math, mfrac, mn, span, a), table{
    border: 1pt #129c12 solid;
    background-color: #edcb668c;
}

/* #section_tables table{
    display:inline-block;
} */
#section_tables li table{
    margin: 0 auto 0 4rem;
}

table *{
    padding: 0.6rem;
}

#section_tables ul li table tr.row:nth-child(2n+1):not(tr.row:first-child){
    background-color: #edbb46;  /*Error*/
}

/*removing padding of fractio elements*/
#fractio, math, mfrac,
span,
a{padding:0;} mfrac{padding-left: 0.7rem;}
/*config subscript and superscript*/
.pote{
    position:relative;
    top:-0.5em;
    font-size: 75%;}
.logrit{
    position:relative;
    bottom:-0.5em;
    font-size: 75%;}
    
.symbol{
    text-align:center;
}
/* td.description_th{
    width: auto;
} */
/* td, th{
    width:10%;
} */

footer{
    background-color:rgb(255, 230, 86);
    padding: 2rem 1rem;
}