/* *{
    box-sizing: content-box;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(236, 212, 74);
}
:root{
    scroll-behavior: smooth;
} */

nav a{
    text-decoration: none;
    color: darkblue;
}
nav a:hover{
    text-decoration: none;
    color: cyan;
}

header{
    background-color: #ffe656b3;
    padding: 1.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#bar_nav{
    display: flex;
    /* background-color: #000; */
    flex-wrap: wrap;
    width:35%;
}
#bar_nav img{
    /* background-color: #373; */
    width:2.2rem;
}
#bar_nav h2{
    font-size:2.1vw;
    /* background-color: #1af; */
}
#bar_nav nav{
    /* background-color: #f3f; */
    flex-grow: 1;
}
#bar_nav nav a:first-child{
    padding-left:0.3rem;
}

header #user p{
    display:inline;
    color: #050505;
}
header #user p:hover{
    color: #171717;
}
header #log_in{
    border-right:#050505 solid 2px;
    padding-right:0.2rem;
}



#three_section{
    display:flex;
    flex-wrap:wrap;
    column-gap:0.5rem;
    justify-content: center;
}


#small-container{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width:70%;
    column-gap:0.5rem;
}
#link_relatives{
    /* padding:0 0.2rem; */
    background-color: #dbc339;
    width: 80px;
    max-width:120px;
    flex-grow:1;
}


#center{
    background-color: #cab228;
    width:1052px;
    max-width:1000px;
    flex-grow:2;
}


#section_homage{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* align-self: flex-end; */
    background-color: #dbc339;
    width:10%;
    max-width:100px;
}
#section_homage img{
    margin:0;
    padding:0;
    width:100%;
}
/* #section_homage img:first-child{
    margin-top:250%;
} */




#user i{
    background-color: darkred;
    border-radius: 50%;
    padding: 0.4rem;
    color: #050505
}
#user a{
    text-decoration: none;
    color: none;
}
#user #log_in_sign_in{
    display:inline;
    background-color: #555;
    padding: 0.4rem 0.2rem;
}

#link_relatives nav{
    padding: 0 0.2rem;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#link_relatives a{
    border: 1px black solid;
    padding: 10%;
    margin: 0 0.2rem;
    border-radius: 50%;
    color: white;
    font-weight: 500;
}

#link_relatives a:hover{
    color: white;
    font-weight: 900;
    text-decoration:underline;
}

#link_relatives a[href="./index.html"]{
    background-image: url(../imagenes/Desert.jpg);
    background-size: cover;
}
#link_relatives a[href="./cuenta.html"]{
    background-image: url(../imagenes/Mountains.jpg);
    background-size: cover;
}
#link_relatives a[href="./contacto.html"]{
    background-image: url(../imagenes/Forest.jpg);
    background-size: cover;
}
#link_relatives a[href="./aboutUs.html"]{
    background-image: url(../imagenes/Night.jpg);
    background-size: cover;
}


main section:not(#center, #seccion_diccionario, .foto, #section_homage, #link_relatives, #small-container, #three_section, #base section, #section_tables, .container, #titulo){
    padding:1rem;
}



/* centro */

h1{
    font-size: 4vw;
    text-align:center;
    font-family:'Courier New', Courier, monospace
}

.P_science_introduction::first-letter{
    font-size:4.3vw;
    float: left;
    padding: 0 0.3rem;
    margin: 0.1em 0.2em 0;
    display:block;
    background-size: contain;
    background-color: #129c12;
    border: 2px burlywood solid;
}

.foto{
    padding:0;
    /* background-color: #212; */
    width:100%;
}
.foto img{
    width:100%;
}
.oculto{
    display:none;
    margin:0;
    padding:0;
}
article section{
    margin:0;
    padding:0;
}
.oculto a{
    color:#3f2f0f
}
/* #base{
    border: dashed 3px black;

    /* display:flex;
    flex-wrap: wrap; */
    /* background-color:brown; */ /* invert when it's asked
} */
#base .oculto{
    /* display:flex; JS lo activa en flex */
    justify-content: space-between;
    /* flex-wrap:wrap;
    column-gap:13rem; */
    /* background-color:slategray;  invert when it's asked */
    padding:0;
}
.boton{
    display:flex;
    flex-direction:column;
    position:relative;
    row-gap: 0.5rem;
    /* padding: 0 8rem; */
    /* width:500px; */
}
.boton button{
    background-color:#32cd32;
    /* position:relative; */
    width:8rem;
    padding:0.7rem;
}
.boton button:hover{
    background-color:purple;

    animation: botton 2s infinite;
}
.small-botton{
    display:flex;
    flex-direction: column;
    margin:1% 0 2% 5%;
    row-gap: 1rem;
    /* width:15%; */
}
.small-botton button{
    background-color:#32cd32;
    padding:0.3rem;
    font-size:smaller;
    width:6rem;
}
.small-botton button:hover{
    background-color:#800080;
}

/* @keyframes botton {
    0% {
      background-color: green;
    }
    25% {
      background-color: lime;
    }
    50% {
      background-color: limegreen;
    }
    75% {
      background-color: forestgreen;
    }
    100% {
      background-color: darkgreen;
    }

  } */

.icono-foto-descripcion{
    position:absolute;
    top:0;
    left:20%;
    justify-content:space-between;
    /* background-color:#ff000041; */
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.icono-foto-descripcion ::-webkit-scrollbar{
    height: 30px;
    width:0.6rem;
    background-color: #00a;
    border-radius: 30px;
}

.icono-foto-descripcion ::-webkit-scrollbar-thumb{
    background-color: #00000024;
    border:1px solid black;
    border-radius: 30px;
}
.icono-foto-descripcion ::-webkit-scrollbar-track-piece{
    background-color: #ccc;
    color: #f00;
    border-radius: 30px;
}
.icono-foto-descripcion .descripcion{
    background-color: #e0df9a;
    border: 3px black solid;
    border-radius: 3rem;
    padding:1rem;
    width:50%;
    /* top:0;
    left: 30%;*/
    margin-left: 2rem;
    /*position:absolute; */
    overflow:hidden;
    max-height: 400px;
}
.icono-foto-descripcion .over-scroll{
    overflow:auto;
    height:20.3rem;
    padding:0;
}
.icono-foto-descripcion .descripcion h4{
    text-align:center;
}
.icono-foto-descripcion .icono_lista{
    display:flex;
    flex-direction: column;
    width:40%;
    /* background-color: saddlebrown !important; */
}
.icono-foto-descripcion .icono_lista article.img-cont{
    border:1px solid black;
    max-height:300px;
    width: 100%
}
.icono-foto-descripcion .icono_lista article img{
    width:100%;
    height: 100%;
}
.icono-foto-descripcion .icono_lista input{
    margin: 0.7rem 0;
    font-size:smaller;
    background-color:#ccc;
}
.icono-foto-descripcion .icono_lista ol{
    background-color:#e0df9a;
    border:1px solid black;
    max-height:4rem;
    overflow:auto;
}


#seccion_diccionario{
    margin-top:13rem;
}
#fondo_dic{
    background-color: #212;
    padding: 5rem 0rem;
    text-align:center;
    background-image: url(../imagenes/0121a2a69c4ae484cb98c664e45cf999.jpeg);
    background-size:contain;
}
#fondo_dic input{
    padding: 0.8rem;
    margin: 2.6rem;
    width:50%;
    max-width: 38rem;

    outline: none;
    background-color: #616;
    color: #fff;
}

#fondo_dic input::placeholder{
    color:#9f9;
}
#fondo_dic input:focus{
    border: 2px black solid;
    background-color:#0a0;
    color: #ffc;
}
/* #fondo_dic label{
    color: #fff;
    font-weight: bold;
} */

/* #section_tables ul{

} */

#section_tables ul{
    list-style-type: square;
}
.lista_tabla{
    cursor: pointer;
    text-decoration: underline;
}

#section_tables table tr td:not(math, mfrac, mn, span, a), table{
    border: 1pt #129c12 solid;
    background-color: #edcb668c;
}

/* #section_tables table{
    display:inline-block;
} */
#section_tables li table{
    margin: 0 auto 0 4rem;
}

#section_tables table tr td:not(math, mfrac, mn, span, a) {
    padding: 0.6rem;
}

#section_tables ul li table tr.row:nth-child(2n+1):not(tr.row:first-child){
    background-color: #edbb46;  /*Error*/
}

/*removing padding of fractio elements*/
#fractio, math, mfrac,
span,
a{padding:0;} mfrac{padding-left: 0.7rem;}
/*config subscript and superscript*/
.pote{
    position:relative;
    top:-0.5em;
    font-size: 75%;}
.logrit{
    position:relative;
    bottom:-0.5em;
    font-size: 75%;}
    
.symbol{
    text-align:center;
}
/* td.description_th{
    width: auto;
} */
/* td, th{
    width:10%;
} */


footer{
    background-color:rgb(255, 230, 86);
    padding: 2rem 1rem;
}

footer #social_media img, 
footer #social_media nav{
    padding: 0 auto;
}

#footer_content{
    min-height: 10rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
footer #social_media img{
    width:20%
}
footer section nav ul{
    display: inline;
    padding:0;
}

#social_media{
    max-width:600px;
    text-align: center;
    /* background-color:brown */
}
#footer_notes{
    max-width:600px;
    /* background-color:indigo */
    border-top: solid #ecd44a 2px;
    padding-top: 2rem;
}
#copyright_reference{
    padding-top: 2rem;
    margin-top:1rem;
    border-top: 2px solid #ecd44a;
    text-align:center;
}

@media only screen and (min-width: 1143px){
#footer_content{
    justify-content: space-around;
}

#footer_notes{
    border-top: none;
    padding-top: 0;
    border-left: solid #ecd44a 2px;
    padding-left: 2rem;
}
}

/* @media only screen and (max-width: 800px){
#three_section{
    flex-wrap: wrap;
} */
/* #section_homage img{
    flex-wrap: nowrap;
    width:100%
} */







@media screen and (max-width:640px){
main{
    background-color: #aa0;
}
#small-container{
    flex-grow:2;
    max-width:100%;
}
#link_relatives{
    max-width:900px;
}
#section_homage{
    flex-grow:2;
    max-width:100%;
}

header #bar_nav img{
    width:24px;
    height:22px;
}

#user #log_in_sign_in{padding: 1.2rem 0.3rem; vertical-align:super;}
#log_in_sign_in p{vertical-align:middle;}

#user-ico, i.fa-solid.fa-user{
    vertical-align:top;
}

body p,
body, h3, h4,
#section_tables ul li{
    font-size: 13px;
}

#section_tables .lista_tabla{
    font-size:12px;
}

.icono-foto-descripcion .icono_lista input,
.icono-foto-descripcion p{
    font-size:10px;
}


#seccion_diccionario input{
    font-size:2rem;
}

a:not(li a), i{font-size:2.3rem;}
.icono_lista ol li,
.icono_lista ol li a{font-size:11px}
#bar_nav h2{font-size:2.8rem;}
/* #bar_nav nav{width:100%;} */
header #bar_nav nav a{font-size:2.5rem;}
button{font-size:2.3rem;}
.boton button{width:16rem;}
.small-botton button{font-size:2.0rem; width:10rem}
.P_science_introduction::first-letter, h1{
    font-size:6.3rem;
}
.icono-foto-descripcion .icono_lista ol{
    max-height: 10rem;
}
.icono-foto-descripcion .over-scroll{
    height:45rem;
}


#section_tables figure,
#section_tables section,
#section_tables ul{
    position:relative;
}

#section_tables ul li{
    position:relative;
    list-style: none;
    margin-left:0;
}

#section_tables table,
#section_tables figcaption{
    position:relative;
}



#section_tables ul{
    padding: 1rem;
}
/* 
#section_tables ul li{
    margin-left: 4rem;
} */

#section_tables li table{
    margin: 2rem 1rem;
}

#section_tables table th,
#section_tables table td,
#section_tables table td a,
#section_tables table td math mn{
    font-size:12px;
}

#section_tables table #r2{
    font-size:17px;
}

footer img{
    object-fit: cover;
    width: 100%;
}
footer #copyright_reference p{
    font-size:10px;
}
}

@media screen and (min-width:640px) and (max-width:1100px){
main{
    background-color: red;
}
#small-container{
    max-width:70%;
    flex-grow:2;
}
#link_relatives{
    max-width:900px;
}
#section_homage{
    max-width:30%;
    flex-grow:2;
}
body p,
body, h2, h3, h4,
.lista_tabla{
    font-size: 1.7rem;
}
#bar_nav a{font-size:1.4rem;}
#bar_nav h2{font-size:1.9rem;}
button{font-size:1rem;}
.P_science_introduction::first-letter, h1{
    font-size:4rem;
}
.icono-foto-descripcion .over-scroll{
    height:29rem;
}
}

@media screen and (min-width:1100px){
main{
    background-color: #0a0
}
#center{
    flex-grow:2;
    max-width:90%;
}

#link_relatives{
    max-width:10%;
}

#small-container{
    flex-grow:2;
    max-width:80%;
}

#section_homage{
    flex-grow:2;
    max-width:20%;
}
body p,
body h2, h3, h4{
    font-size: 1rem;
}
.P_science_introduction::first-letter{
    font-size:3rem;
}
}


/* @media screen and (min-width:1310px){
main{
    background-color: #000;
}
#small-container{
    width:60%;
}
#section_homage{
    width:30%;
}
/* #section_homage img{
    width:40%;
}

} */
